
# Must have for minimal agent get started
OPENROUTER_API_KEY=xxxx

SERPER_API_KEY=xxxx
JINA_API_KEY=xxxx
E2B_API_KEY=xxxx

OPENAI_API_KEY=xxxx
OPENAI_BASE_URL=xxxx

OAI_MIROTHINKER_BASE_URL=xxxx
OAI_MIROTHINKER_API_KEY=xxxx

SUMMARY_LLM_BASE_URL=xxxx
SUMMARY_LLM_API_KEY=xxxx
SUMMARY_LLM_MODEL_NAME=xxxx

HF_TOKEN=xxxx
